
body {
    padding: 0;
    margin: 0;
    width: 85.6mm; /* Approximate ID card width */
    height: 54mm; /* Approximate ID card height */
}

.card {
    transform: scale(2);
    transform-origin: top left;
    width: 100.54mm;
    height: 63.5mm;
    border-radius: 3.18mm;
    padding: 3.97mm;
    box-sizing: border-box;
    position: relative;
    /*border: 0.26mm solid #aaa;*/
}

/* Header Styling */
.card-header {
    height: 7.94mm;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.65mm;
}

.logo-text p {
    font-weight: bold;
    font-size: 2.65mm;
    color: #444;
    margin: 0;
    padding-top: 1.32mm;
}

.title-section {
    margin-left: 2.65mm;
    flex-grow: 1;
    text-align: center;
}

.title-section h1 {
    font-size: 2.91mm;
    font-weight: 900;
    color: #444;
    margin: 0;
    text-transform: uppercase;
}

.title-section h2 {
    font-size: 2.65mm;
    font-weight: normal;
    color: #444;
    margin: 0;
    padding-bottom: 0.53mm;
}

/* Body Layout */
.card-body {
    display: flex;
    position: relative;
    height: calc(100% - 30px);
}

.photo-section {
    width: 29.1mm;
}

.data-section {
    padding-left: 2.65mm;
    font-size: 2.65mm;
    line-height: 1.2;
}

.data-item {
    margin-bottom: 0.79mm;
}

.data-item label {
    font-size: 1.85mm;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: -0.26mm;
}

.data-item p {
    font-size: 2.65mm;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.data-item.name p {
    font-size: 2.91mm;
    line-height: 1.1;
}

.top-right {
    float: right;
}

.top-right .data-item {
    margin-right: 3.97mm;
}

/* Key, CURP, Year Layout */
.data-item.key-voter {
    margin-top: 1.32mm;
}

.data-item.key-curp {
    display: flex;
    margin-top: 1.32mm;
}

.key, .curp, .year {
    margin-right: 1.32mm;
}

.key label, .curp label, .year label {
    display: inline-block;
}

/* Bottom Row Data */
.data-group.bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.65mm;
}

.bottom-row .data-item {
    text-align: left;
    flex: 1 0 33%;
}

.bottom-row .data-item label {
    font-size: 1.59mm;
}

.bottom-row label {
    display: inline;
}

label {
    text-transform: uppercase;
}

.main-photo {
    display: block;
    width: 23.81mm;
    height: 29.1mm;
    border: 0.26mm solid #555;
    border-radius: 0.79mm;
    margin-top: 1.32mm;
}

.small-photo {
    display: block;
    position: absolute;
    right: 2.65mm;
    top: 15.88mm;
    width: 10.58mm;
    height: 13.23mm;
    border: 0.26mm solid #aaa;
    border-radius: 0.53mm;
    z-index: 1;
}